<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Fixer la date du déménagement.</string>
	<string>Poser un congé pour le jour J.</string>
	<string>Envoyer la lettre de préavis au propriétaire.</string>
	<string>Inscrire les enfants dans leur nouvelle école.</string>
	<string>Prévenir son assureur (logement et voiture).</string>
	<string>Choisir son entreprise de déménagement.</string>
	<string>Acheter les cartons et autres emballages.</string>
	<string>Prendre rendez vous pour faire l&apos;état des lieux. Faire le tri dans ses affaires.</string>
	<string>Mettre en place le suivi du courrier à sa nouvelle adresse.</string>
	<string>Vider le congélateur.</string>
	<string>Décrocher tout ce qui est aux murs et aux fenêtres.</string>
	<string>Résilier son contrat d&apos;électricité.</string>
	<string>Résilier son contrat de gaz.</string>
	<string>Résilier son contrat d&apos;eau.</string>
	<string>Modifier son contrat de téléphone.</string>
	<string>Modifier son contrat internet / télé.</string>
	<string>Modifier ses abonnements de presse.</string>
	<string>Souscrire son nouveau contrat d&apos;électricité.</string>
	<string>Souscrire son nouveau contrat de gaz.</string>
	<string>Souscrire son nouveau contrat d&apos;eau.</string>
	<string>Assurer son nouveau logement.</string>
	<string>Signaler son changement d&apos;adresse à ma caisse d&apos;assurance maladie.</string>
	<string>Signaler son changement d&apos;adresse à la CAF.</string>
	<string>Signaler son changement d&apos;adresse à ma banque.</string>
	<string>Signaler son changement d&apos;adresse à ma caisse de retraite.</string>
	<string>Signaler son changement d&apos;adresse au service des impôts.</string>
	<string>Garder les médicaments et produits d&apos;urgence à portée de main.</string>
	<string>Prévoir le repas du jour J.</string>
	<string>Organiser la garde des enfants pour le jour J.</string>
	<string>Prévoir les produits et le matériel de nettoyage pour le jour J.</string>
	<string>Couper l&apos;eau, l&apos;électricité et le gaz.</string>
	<string>Relever tous les compteurs.</string>
	<string>S&apos;assurer que l&apos;on a rien oublié.</string>
	<string>Retirer son nom de la boite à lettre, de la sonnette,...</string>
	<string>Faire l&apos;état des lieux.</string>
	<string>Se déclarer à sa nouvelle mairie.</string>
	<string>Faire le changement d&apos;adresse sur sa carte d&apos;identité.</string>
	<string>Faire le changement d&apos;adresse sur son passeport.</string>
	<string>Faire le changement d&apos;adresse sur sa carte grise.</string>
	<string>S&apos;inscrire sur les listes électorales.</string>
</array>
</plist>
